*.VC.*
*.xcuserstate
*.stash
Makefile
*.o
*.pro.user*
android/videobase/.externalNativeBuild
android/videobase/.gradle
android/videobase/build
android/videobase/.idea
android/videobase/*.iml
android/videobase/local.properties
libvideonet.so
libvideosdk.so

ios/video.xcworkspace/xcuserdata/
ios/videosdk/videosdk.xcodeproj/xcuserdata/
ios/videosdk/videosdk.xcodeproj/project.xcworkspace/xcuserdata/

ios/videosdk/build/videosdk.build/Debug-iphoneos/videosdk.build
ios/videosdk/build/videosdk.build/Release-iphoneos/videosdk.build
ios/videosdk/build/XCBuildData


ios/videoio/build/videoio.build
ios/videoio/build/XCBuildData



ios/videoio/videoio.xcodeproj/xcuserdata/
ios/videoio/videoio.xcodeproj/project.xcworkspace/xcuserdata/
*Debug*
*Release*
*/lib
*/log
ios/videonet/build/XCBuildData
ios/videonet/videonet.xcodeproj/project.xcworkspace/xcshareddata
ios/videonet/videonet.xcodeproj/project.xcworkspace/xcuserdata
ios/videonet/videonet.xcodeproj/xcuserdata


*.stash
*.vs*
*debug/*
*release/*
*.vcxproj*
*.sln
ios/videonet/videonet.xcodeproj/xcshareddata
ios/videojt/videojt.xcodeproj/xcuserdata
ivideosdk.h
build
ios/video.xcworkspace
ios/videosdk.xcodeproj/project.xcworkspace
